@page
@model WebUI.Pages.Accounts.ExportExcelModel
@{
    ViewData["Title"] = "导出XLSX";
}

<div class="alert alert-info">
    正在导出Excel...
    <a class="btn btn-link" asp-page="/Accounts/Index">返回列表</a>
</div>


