@page
@model WebUI.Pages.Accounts.TemplateExcelModel
@{
    ViewData["Title"] = "下载模板";
}

<div class="alert alert-info">
    正在生成模板...
    <a class="btn btn-link" asp-page="/Accounts/Index">返回列表</a>
</div>


